---
---

@import "reveal.js/css/reveal";
@import "reveal.js/css/theme/source/sky";

.reveal section img {
  border: 0;
  background: none;
  box-shadow: 0 0 #000;
}

.reveal pre {
  width: 100%;
  font-size: 0.68em;
}

.reveal pre code {
  max-height: 600px;
}

section[data-background] [data-background], section[data-background] [data-background-image] {
  /* hide any elements that actually represent a background */
  display: none;
}

/* blockquotes: */
.reveal section blockquote.quote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}

.reveal section blockquote.quote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

.reveal section blockquote.quote p { display: inline; }
.reveal section blockquote.quote cite:before { content: ' - '; }

.reveal section blockquote.quote cite {
  display: block;
  width: 100%;
  text-align: right;
  font-size: 20px;
}
